In [ ]:
# %load ../standard_import.txt
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
#
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import confusion_matrix
#
import statsmodels.api as sm
import statsmodels.formula.api as smf

%matplotlib inline

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## PRE-LAB

In [ ]:
df = pd.read_excel('https://github.com/simsekergun/DATA601/blob/main/2021Fall/datasets/Default.xlsx?raw=true',index_col=[0])

In [ ]:
df.head()

  default student      balance        income
1      No      No   729.526495  44361.625074
2      No     Yes   817.180407  12106.134700
3      No      No  1073.549164  31767.138947
4      No      No   529.250605  35704.493935
5      No      No   785.655883  38463.495879

Let's replace yes' and no's with 1's and 0's using the <code> factorize</code>() function. <br>
Note that <code>factorize()</code> returns two objects: a label array and an array with the unique values. We are only interested in the first object.

In [ ]:
df['default'] = df.default.factorize()[0]
df['student'] = df.student.factorize()[0]
df.head(3)

   default  student      balance        income
1        0        0   729.526495  44361.625074
2        0        1   817.180407  12106.134700
3        0        0  1073.549164  31767.138947

## TASKS
1. EDA and visualize balance vs. income vs. default
2. Logistic Regression to predict default from balance
3. Multiple Logistic Regression to predict default from balance, income, and student

In both 2 and 3, calculate the accuracy, sensivity, and specificity. <br>
Comment on sensivity vs specificity.